.buttons {

  margin-top: $padding * 0.5;
  margin-left: $padding * 0.25;

  transition: opacity 500ms;

  button {

    cursor: pointer;

    border: none;
    outline: none;

    color: #333;
    background-color: transparent;

    margin-right: $padding;

    transition: color 200ms;

    &:hover {
      color: #666;
    }

    &:active, &.active {
      color: #aaa;
    }

  }

}
